.card {
    border: 1px solid var(--gray-300);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    transform-origin: center center;
}
.card:hover {
    transform: scale(1.05) translateZ(0);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}