.card {
    transition: transform 0.3s ease;
    transform-origin: center center;
}
.card:hover {
    transform: scale(1.05) translateZ(0);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
.payment-summary {
    .card:hover {
        transform: none;
        box-shadow: none;
    }
}

.blog-card, .section-with-cards {
    opacity: 0;
}

.blog-card.animate, .section-with-cards.animate {
    animation: fade_up 1s ease-in-out;
    animation-fill-mode: both;
    animation-delay: 150ms;
}