.card {
    transition: transform 0.3s ease;
    transform-origin: center center;
    box-shadow: 0 0 15px var(--gray-200);
}
.card:hover {
    transform: scale(1.05) translateZ(0);
}
.payment-summary {
    .card:hover {
        transform: none;
        box-shadow: none;
    }
}

.blog-card, .section-with-cards {
    opacity: 0;
}

.blog-card.animate, .section-with-cards.animate {
    animation: fade_up 1s ease-in-out;
    animation-fill-mode: both;
    animation-delay: 150ms;
}

.nimbus-features {
    text-align: center;
    .card-img-top {
        width: 25%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .card-title {
        color: $nimbus_color;
    }
}