.web-footer-nimbus {
	background-color: var(--gray-900);
	height: 100vh;
}

.footer-link,
.footer-child-item a {
	color: var(--gray-100);
    font-weight: 200;

	&:hover {
		color: var(--gray-200);
		text-decoration: none;
	}
}