.nimbus_dark {
    background-color: darken($nimbus_color, 10%);
    .hero-subtitle, .section-description {
        color: var(--gray-300);
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }
}

.nimbus_flame {
    background-image: url('/assets/nimbus_theme/images/flame-1.png');
    background-position: right;
    background-repeat: no-repeat;
    @media (max-width: 767px) {
        background-image: none;
    }
}

.nimbus_testimonials {
    background-image: url('/assets/nimbus_theme/images/home-testimonials.png');
    background-position: right;
    background-repeat: no-repeat;
    @media (max-width: 767px) {
        background-image: none;
    }
}

.nimbus_faqs {
    background-image: url('/assets/nimbus_theme/images/faqs.png');
    background-position: right;
    background-repeat: no-repeat;
    @media (max-width: 767px) {
        background-image: none;
    }
}

.nimbus_project {
    background-image: url('/assets/nimbus_theme/images/project-management-meeting.png');
    background-position: right;
    background-repeat: no-repeat;
    @media (max-width: 767px) {
        background-image: none;
    }
}