.hero-subtitle.animate {
    animation: fade_up 1s ease-in-out;
    animation-fill-mode: both;
    animation-delay: 0.5s;
}

.hero-buttons.animate {
    animation: fade_up 1s ease-in-out;
    animation-fill-mode: both;
    animation-delay: 1s;
}