.navbar-brand {
    animation-name: zoom_in_out;
    animation-delay: 50ms
}

.btn-primary,
a,
.dropdown-menu {
    transition: 0.3s;
}

.btn-primary:hover,
a:hover {
    font-size: var(--text-xl);
}

.navbar-brand {
    transition: transform 0.3s ease;
    transform-origin: center center;
}

.navbar-brand:hover {
    transform: scale(1.5) translateZ(0);
}