// navbar
.navbar-primary {
    background: darken($nimbus_color, 10%);
    padding: 12px 0;    

    .navbar-search {
        background-color: white;
        color: var(--gray-700);

        &::placeholder {
            color: var(--gray-500);
        }
    }
}

.navbar {

    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0 4px 2px -2px darken($nimbus_color, 10%);

    .navbar-nav {
        .nav-item {
            &.active {
                border-bottom: 1px solid lighten($nimbus_color, 10%);
            }
            .nav-link:hover {
                color: lighten($nimbus_color, 10%);
            }
        }
    }
}


