// navbar
.navbar-primary {
    background: linear-gradient(to right, darken($primary, 25%), $logo-blue);
    padding: 12px 0;    

    .navbar-search {
        background-color: white;
        color: var(--gray-700);

        &::placeholder {
            color: var(--gray-500);
        }
    }
}

.navbar {

    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0 4px 2px -2px var(--gray-800);

    .navbar-nav {
        .nav-item {
            &.active {
                border-bottom: 1px solid var(--logo-yellow);
            }
            .nav-link:hover {
                color: var(--logo-yellow);
            }
        }
    }
}

.page-breadcrumbs {
    background: var(--gray-100);
    border-bottom: 1px solid var(--gray-300);
    .breadcrumb {
        background: none;
        margin-bottom: 0;
        padding: 0;
        .breadcrumb-item {
            a {
                color: var(--gray-700);
                &:hover {
                    color: var(--logo-yellow);
                }
            }
        }
    }
}
