// navbar
.navbar-primary {
    background: linear-gradient(to right, darken($logo-blue, 25%), $logo-blue);
    padding: 12px 0;    

    .navbar-search {
        background-color: white;
        color: var(--gray-700);

        &::placeholder {
            color: var(--gray-500);
        }
    }
}

.navbar {

    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;

    .navbar-nav {
        .nav-item {
            &.active {
                border-bottom: 1px solid var(--logo-yellow);
            }
            .nav-link:hover {
                color: var(--logo-yellow);
            }
        }
    }
}
